Package: xyz.henryli17.safariautocorrect
Name: SafariAutoCorrect
Version: 0.0.2
Architecture: iphoneos-arm
Description: Enable autocorrect in the URL/search bar of Safari. Developed for iOS 14.
Maintainer: Henry Li
Author: Henry Li
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)